:root {
  --primary-bg-color: #07182e;
  --secondary-bg-color: #242526;
  --Territory-bg-color: #495057;
  --primary-text-color: #c4c9ce;
  --bs-cyan: #0dcaf0;
  --bs-cyan-hover: #0aa2c0;
  --bs-danger: #dc3545;
}

@keyframes RotateCard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px !important;
  color: var(--primary-text-color) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-image: url("../../public/StarsBackground.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none !important;
}

@media (max-width: 360px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5,
  h6 {
    font-size: 1.2em;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5,
  h6 {
    font-size: 1.5em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2.2em;
  }
  h4 {
    font-size: 2em;
  }
  h5,
  h6 {
    font-size: 1.75em;
  }
}
@media (min-width: 769px) {
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2.5em;
  }
  h5,
  h6 {
    font-size: 2em;
  }
}
.side-bar {
  min-width: 23vw;
  background-color: var(--primary-bg-color);
}
.side-bar .social {
  color: var(--bs-cyan);
}
.side-bar .social .social:hover {
  color: var(--bs-cyan-hover);
  transition: 1s;
}

.options {
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.options .options:hover {
  background-color: var(--bs-cyan-hover);
}
.options .option:hover {
  background-color: var(--bs-cyan-hover);
  transition: 0.3s ease all;
  box-shadow: var(--bs-cyan) 0px 0px 10px;
}

.separator {
  height: 2px;
  width: 200%;
  background-color: white;
}

.separator-section {
  transition: 0.3s ease all;
}
.separator-section:hover {
  background-color: var(--bs-cyan-hover);
}

.btn {
  background-color: var(--primary-bg-color);
  border: 2px solid var(--bs-cyan);
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  transition: all 0.5s ease;
}

.btn:hover {
  letter-spacing: 1.5px;
  background-color: var(--bs-cyan-hover);
  color: white;
  box-shadow: var(--bs-cyan) 0px 0px 10px;
}

.btn:active {
  letter-spacing: 1.5px;
  background-color: var(--bs-cyan-hover);
  color: white;
  transform: translateY(10px);
  transition: 100ms;
}

.main {
  background-color: var(--primary-bg-color);
}

.name {
  font-size: 50px;
}

.cards .card {
  width: 190px;
  height: 254px;
  place-content: center;
  place-items: center;
  transition: 0.3s ease all;
}
.cards .card:before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, var(--bs-cyan), var(--bs-cyan));
  height: 130%;
  animation: RotateCard 3s linear infinite;
  transition: all 0.2s linear;
}
.cards .card:after {
  content: "";
  position: absolute;
  background: var(--primary-bg-color);
  inset: 5px;
  border-radius: 15px;
}
.cards .card:active {
  transform: scale(0.95);
}

.portfolio-section {
  max-height: 600px;
  background-color: var(--primary-bg-color);
}
.portfolio-section .tab-values button {
  transition: 0.3s ease all;
  background-color: var(--primary-bg-color);
  color: var(--bs-cyan);
}
.portfolio-section .tab-values button:hover, .portfolio-section .tab-values button.active {
  color: var(--primary-bg-color);
  background-color: var(--bs-cyan);
}
.portfolio-section .skills {
  background-color: var(--bs-cyan);
}
.portfolio-section .skills .skill {
  cursor: pointer;
  min-width: 275px;
  background-color: var(--primary-bg-color);
}
.portfolio-section .skills .skill:hover .more-info {
  opacity: 1;
}
.portfolio-section .skills .skill .more-info {
  transition: 0.3s ease all;
  opacity: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4705882353);
  height: 200px;
}
.portfolio-section .skills .skill .more-info .icons a {
  transition: 0.3s ease all;
  width: 50px;
  height: 50px;
  color: var(--bs-cyan);
  background-color: var(--primary-bg-color);
}
.portfolio-section .skills .skill .more-info .icons a:hover {
  background-color: var(--bs-cyan);
  color: var(--primary-bg-color);
}

.contact-section .contact-info .contact-icon {
  width: 50px;
  height: 50px;
  transition: 0.3s ease all;
  border: 1px solid var(--bs-cyan);
}
.contact-section .contact-info .contact-icon:hover {
  background-color: var(--bs-cyan);
}
.contact-section .form {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.contact-section .form label {
  position: relative;
}
.contact-section .form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.contact-section .form label .input:-moz-placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.contact-section .form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.contact-section .form label .input:focus + span, .contact-section .form label .input:valid + span {
  color: var(--bs-cyan);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
.contact-section .form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
  border: 1px solid var(--bs-cyan);
  transform: 0.3s ease all;
  background-color: var(--primary-color);
}
.submit:hover {
  background-color: var(--bs-cyan);
}/*# sourceMappingURL=globals.css.map */